.register{
    background-image: url(../images/register.jpg);
    // background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height:94vh;
    padding: 1%;
    form{
        width: min(100% - 10%,600px);
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 5%;
        background-color: white;
        // background: radial-gradient(120deg, #38B6FF, white);
        border-radius: 20px;
        padding: 1rem;

        input{
            font-size: 1rem;
            padding: 2%;
            margin-bottom: 3rem;
            border-radius: 20px;
            outline: none;
            border: 1px black solid;
            width: 100%;

        }
        button {
            width: 40%;
            border: none;
            border-radius: 50px;
            color: rgb(255, 255, 255);
            background: linear-gradient(-180deg, rgb(255, 195, 50) 0%, rgb(255, 97, 119) 96%) no-repeat;
            box-shadow: rgb(56 182 255 / 50%) 0px 4px 10px 0px;
            padding: 2% 0;
            font-size: 1rem;
            letter-spacing: 0.4px;
            cursor: pointer;
            outline: none;
            transition: 0.5s;
            &:hover {
                background: linear-gradient(-180deg, rgb(247, 251, 1) 0%, rgb(255, 165, 97) 96%) no-repeat;
                box-shadow: rgb(255 97 119 / 50%) 0px 4px 10px 0px;
                color: rgb(251, 9, 17);
                transition: 0.5s;

            }
        }
        h5{
            margin-top: 5%;
            font-size: 1rem;
            span{
                color: #38B6FF;
                cursor: pointer;
                transition: 0.5s;
                &:hover{
                    transition: 0.5s;
                    text-decoration: underline;
                }
            }
        }
    }
}