
@import "./AboutStyle.css";

.home-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .home-testimonial {
    width: 100%;
    display: flex;
    padding: var(--dl-space-space-threeunits);
    max-width: var(--dl-size-size-maxwidth);
    align-items: center;
    flex-direction: column;
  }
  .home-text {
    color: var(--dl-color-gray-black);
    font-size: 3rem;
    width: fit-content;
  }
  .home-text1 {
    color: var(--dl-color-gray-black);
    font-size: 1.15rem;
    max-width: 600px;
    margin-top: var(--dl-space-space-twounits);
    text-align: center;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-container1 {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
  }
  .home-link {
    display: contents;
  }
  .home-component {
    text-decoration: none;
  }
  .home-link1 {
    display: contents;
  }
  .home-component1 {
    text-decoration: none;
  }
  @media(max-width: 991px) {
    .home-text {
      text-align: center;
    }
    .home-text1 {
      text-align: center;
    }
    .home-container1 {
      flex-direction: column;
    }
  }
  @media(max-width: 767px) {
    .home-testimonial {
      padding-left: var(--dl-space-space-twounits);
      padding-right: var(--dl-space-space-twounits);
    }
  }
  @media(max-width: 479px) {
    .home-testimonial {
      padding-top: var(--dl-space-space-twounits);
      padding-left: var(--dl-space-space-unit);
      padding-right: var(--dl-space-space-unit);
      padding-bottom: var(--dl-space-space-twounits);
    }
  }
  