.swiper-container{
    width: 100%;
    .images-container{
        width: 100%;
        display: flex;
        justify-content: space-between;
align-items: center;
transition: 1s;

        img{
            transition: 1s;
            width: 30%;
            &:nth-child(odd){
                width: 20%;
                height: 10vw;
            }
        }
    }
}