.singleCourse{
    display: flex;
    justify-content: center;
    background-image: url(../images/course.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding-top: 3rem;
    .congratsContainer{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.61);
       img{
        object-fit: contain;
        width: 100%;
        height: 100%;
       }
    }
    .singleCourseContainer{
        // width: 40%;
        width: min(100% - 5%,840px);
        margin-top: 1%;
        .welcome_{
            text-align: center;
            font-size: 2rem;
            color: white;
            background-color: #0a3752;
            padding: 1%;
            max-width: 30rem;
            margin: 2% auto;
            border-radius: 20px;
        }
        h3{
            text-align: center;
            font-size: 1.5rem;
            color: white;
            margin-bottom: 2%;
        }
        h2{
            text-align: center;
            margin-bottom: 3%;
            color: red;
            font-size: 1.5rem;
        }
        h4{
            color: green;
            font-size: 1.5rem;
            text-align: center;
            margin: 2%;
        }
        .precentage{
            background-color: green;
            display: flex;
            margin-bottom: 2%;
            height: 1.2vw;
            border-radius: 20px;
        }
        ul{
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: white;
            padding: 2%;
            border-radius: 20px;
            list-style: none;
            h1{
                margin-bottom: 5%;
            }
            .false{
                background-color:red ;
                width: 100%;
                padding: 2%;
                margin-bottom: 7%;
                border-radius: 20px;
                color: white;
                font-size: 1.5rem;
                text-align: center;
                transition: 0.5s;
                cursor: pointer;
                &:hover{
                transition: 0.5s;
                    background-color: rgb(156, 4, 4);
                }
            }
            li{
                background-color:#38B6FF ;
                width: 100%;
                padding: 2%;
                margin-bottom: 7%;
                border-radius: 20px;
                color: white;
                font-size: 1.5rem;
                text-align: center;
                transition: 0.5s;
                cursor: pointer;
                &:hover{
                transition: 0.5s;
                    background-color: #085e8f;
                }
            }
        }
    }
}