.baner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3%;
  a {
    display: flex;
    width: 300px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .baner_text {
    padding: 2%;
    p {
      font-size: 1.6rem;
      text-align: center;
    }
  }
  .baner_two {
    background-image: url(../images/baner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20%;
    width: 100%;
    background-position: center;
  }
}
